.dog-card-root img {
  width: 175px;
}
.dog-card-root {
  display: inline-block;
}
.dog-card {
  display: block;
  border: solid 0.75rem var(--darkest);
}
.dog-card-root button {
  border: solid 0.15rem var(--light);
  font: inherit;
  font-size: 15pt;
  padding: 0.25rem;
  background-color: white;
  color: var(--light);
}
.dog-card-root button:hover {
  background-color: var(--darker);
}
.dog-info .delete {
  position: relative;
  top: 0;
  right: 0;
}
