.login {
  background-color: white;
  height: 100%;
  font: inherit;
}
.login h1 {
  font-size: 34pt;
}
.login label {
  display: inline-block;
  width: 5em;
  text-align: right;
  margin-right: 0.5rem;
  font-size: 19pt;
}
.login input {
  font-size: 16pt;
  border-color: var(--darker);
}
.login button {
  font: inherit;
  border: none;
  cursor: pointer;
}
.login button[type="submit"] {
  margin-top: 1rem;
  font-weight: 900;
  background-color: var(--light);
  color: var(--darker);
  font-size: 25pt;
}
.login button[type="button"] {
  background-color: var(--lightest);
  color: var(--darker);
  font-size: 16pt;
}
.login button[type="submit"]:hover {
  transform: scale(1.1);
}
.login button[type="button"]:hover {
  transform: scale(1.1);
}

.login .email-taken {
  outline-color: red;
}

.login .email {
  position: relative;
}

.login .error-message {
  color: red;
  font-size: 12pt;
  position: absolute;
  right: 1em;
  bottom: 100%;
}
